<div class="w3-center w3-light-grey w3-padding">
    <h3 class="w3-wide" style="font-weight: bold;">CATÁLOGO</h3>
</div>
<div class="w3-row-padding w3-content" style="display:flex;flex-wrap:wrap;max-width:1400px" id="product-grid">
    <div class="w3-col l3 m4 s6 w3-center">
        <div class="w3-card-2 w3-white w3-section">
            <div class="w3-display-container">
                <a href="./product.html" class="w3-hover-sepia">
                    <img src="https://picsum.photos/300" style="object-fit:cover;width:100%;height:auto;aspect-ratio:1;">
                    <div class="w3-tag w3-display-middle w3-display-hover">Ver mais <i class="fa fa-plus"></i></div>
                </a>
            </div>
            <div class="w3-container w3-padding">
                <div class="w3-left-align">Blusa vermelha bolhinhas</div>
                <div class="w3-left" style="font-weight:bold;">R$45,00</div>
                <div class="w3-right">x1</div>
            </div>
        </div>
    </div>
    <div class="w3-col l3 m4 s6 w3-center">
        <div class="w3-card-2 w3-white w3-section">
            <div class="w3-display-container">
                <a href="./product.html" class="w3-hover-sepia">
                    <img src="https://picsum.photos/301" style="object-fit:cover;width:100%;height:auto;aspect-ratio:1;">
                    <div class="w3-tag w3-display-middle w3-display-hover">Ver mais <i class="fa fa-plus"></i></div>
                </a>
            </div>
            <div class="w3-container w3-padding">
                <div class="w3-left-align">Salto azul</div>
                <div class="w3-left" style="font-weight:bold;">R$90,00</div>
                <div class="w3-right">x1</div>
            </div>
        </div>
    </div>
    <div class="w3-col l3 m4 s6 w3-center">
        <div class="w3-card-2 w3-white w3-section">
            <div class="w3-display-container">
                <a href="./product.html" class="w3-hover-sepia">
                    <img src="https://picsum.photos/302" style="object-fit:cover;width:100%;height:auto;aspect-ratio:1;">
                    <div class="w3-tag w3-display-middle w3-display-hover">Ver mais <i class="fa fa-plus"></i></div>
                </a>
            </div>
            <div class="w3-container w3-padding">
                <div class="w3-left-align">Cinto couro fivela dourada</div>
                <div class="w3-left" style="font-weight:bold;">R$35,00</div>
                <div class="w3-right">x1</div>
            </div>
        </div>
    </div>
    <div class="w3-col l3 m4 s6 w3-center">
        <div class="w3-card-2 w3-white w3-section">
            <div class="w3-display-container">
                <a href="./product.html" class="w3-hover-sepia">
                    <img src="https://picsum.photos/303" style="object-fit:cover;width:100%;height:auto;aspect-ratio:1;">
                    <div class="w3-tag w3-display-middle w3-display-hover">Ver mais <i class="fa fa-plus"></i></div>
                </a>
            </div>
            <div class="w3-container w3-padding">
                <div class="w3-left-align">Blusa amarela tulipas</div>
                <div class="w3-left" style="font-weight:bold;">R$40,00</div>
                <div class="w3-right">x1</div>
            </div>
        </div>
    </div>
    <div class="w3-col l3 m4 s6 w3-center">
        <div class="w3-card-2 w3-white w3-section">
            <div class="w3-display-container">
                <a href="./product.html" class="w3-hover-sepia">
                    <img src="https://picsum.photos/304" style="object-fit:cover;width:100%;height:auto;aspect-ratio:1;">
                    <div class="w3-tag w3-display-middle w3-display-hover">Ver mais <i class="fa fa-plus"></i></div>
                </a>
            </div>
            <div class="w3-container w3-padding">
                <div class="w3-left-align">Bolsa couro pequena</div>
                <div class="w3-left" style="font-weight:bold;">R$30,00</div>
                <div class="w3-right">x1</div>
            </div>
        </div>
    </div>
    <div class="w3-col l3 m4 s6 w3-center">
        <div class="w3-card-2 w3-white w3-section">
            <div class="w3-display-container">
                <a href="./product.html" class="w3-hover-sepia">
                    <img src="https://picsum.photos/305" style="object-fit:cover;width:100%;height:auto;aspect-ratio:1;">
                    <div class="w3-tag w3-display-middle w3-display-hover">Ver mais <i class="fa fa-plus"></i></div>
                </a>
            </div>
            <div class="w3-container w3-padding">
                <div class="w3-left-align">Short jeans</div>
                <div class="w3-left" style="font-weight:bold;">R$25,00</div>
                <div class="w3-right">x1</div>
            </div>
        </div>
    </div>
</div>

