<div class="w3-display-container">
  <div style="width: 100vw; height: 65vh; background-color: #e3f2fd">
    <div
      class="w3-display-middle w3-center w3-text-black"
      style="padding: 24px 48px"
    >
      <h1 class="w3-jumbo w3-wide w3-hide-small">MARTHA'S</h1>
      <h1 class="w3-hide-large w3-hide-medium">MARTHA'S</h1>
      <h1 class="w3-hide-small">Conheça nossos Produtos</h1>
      <p>
        <a
          href="/catalogo"
          class="w3-button w3-padding-large w3-large w3-round-large w3-black"
          >Ver Catálogo</a
        >
      </p>
    </div>
  </div>
</div>
